<!--
  Created by CPL.
  User: Carlos
  Date: 04/06/2025
  Time: 12:50
-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ES-es">
<head th:replace="~{fragmentos/biblioteca :: head}"></head>
<body>
<!--
       Esta distribución se propone por defecto para facilitar lo expuesto en
       https://www.youtube.com/watch?v=LQ3_vb8xqqU
    -->
<div class="container">
	<h1>Vista de Lista</h1>
	
	<header>
	
	</header>
	<main>
		<div th:replace="~{fragmentos/biblioteca :: mensajesUsuario}"></div>
		<table>
			<tr>
				<th th:each="c : ${cabeceras}" th:text="${c}"></th>
			</tr>
			<tr th:each="fila : ${filas}">
				<td th:each="campo : ${fila}" th:text="${campo.value}"></td>
			</tr>
		</table>
	</main>
	<footer>
	
	</footer>
</div>

<!-- JavaScript de Bootstrap, */-->
<th:block th:replace="~{fragmentos/biblioteca :: scriptsBootstrap}"></th:block>

<th:block th:replace="~{fragmentos/biblioteca :: scriptsVarios}"></th:block>
</body>
</html>